body {
  height: 100vh;
  background-color: silver;
  // background: linear-gradient(124deg, rgba(28,170,79,1) 13%, rgba(82,210,196,1) 64%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);
}
body{
  margin: 0;
  padding: 0;
}
p{
  margin: 0;
}
.header{
  background-color: #5c6160;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  .logo{
    height: 78px;
    width: 78px;
    background-image: url("../../dist/img/medicine_logo.png");
    background-size: cover;
  }
  .logo_and_button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }
  .create_btn{
    height: 40px;
    width: 150px;
    color: #fff;
    background-color:#1c4f70;
    border: #2980b9 2px solid;
    border-radius: 10px;
  }
  .enter-btn {
    padding: 5px 10px;
    color: #fff;
    background-color:#1c4f70;
    border: #2980b9 2px solid;
    border-radius: 10px;
    width: 100px;
    height: 30px;
  }
}

.container{
  width: 1140px;
}



.second_block{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .search_form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    select {
      color: #fff;
      background-color:#1c4f70;
      border: #2980b9 2px solid;
      border-radius: 10px;
      width: 120px;
      height: 30px;
      margin: 15px;

    }
    input{
      color: #fff;
      background-color:#1c4f70;
      border: #2980b9 2px solid;
      border-radius: 10px;
      width: 200px;
      height: 30px;
      margin: 15px;
    }
    button{
      color: #fff;
      background-color:#1c4f70;
      border: #2980b9 2px solid;
      border-radius: 10px;
      width: 200px;
      height: 30px;
      margin: 15px;
    }
  }

}