.button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn {
  color: white;
  width: 100px;
  padding: 10px;
  background-color: #1c1c1c;
  border-radius: 5px;
  margin: 10px 75px 10px 75px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}


.modalOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(181, 181, 181, 0.2);
  z-index: 2;
  cursor: pointer;
  &__modal{
    background-color: #94cae0;
    width: 500px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
  }
  &__header {
    background-color: #1c1c1c;
    padding: 15px;
    font-size: 25px;
    border-radius: 8px 8px 0 0;

  }
  &__main-content{
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  &__btn-close-open{
    color: white;
    /* width: 20px; */
    background-color: #1c1c1c;
    margin: -1px 0 0 124px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
  }
}



.ListItems{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr ;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2vw;
  text-align: center;
  padding: 20px;

}

.jo {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.jo:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}
.Avatar {
  max-width: 200px;
  padding: 30px;
}



.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #000000;
  position: absolute;
  width: 100%;
  z-index: 8888;
  -webkit-transform: translateZ(0);
  top: 0;

  &__main_title {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
  }

  &__title_container {
    flex: 1 1 auto;
    text-align: center;
  }
}

.footer {

  padding: 25px;
  height: 50px;
  background-color: #000000;
  color: #fff;
  font-size: 16px;
  line-height: 25px;
  text-align: center;

}
.img {
  width: 134px;
  margin: 30px;
}
.background__img {

  padding: 159px;
  background-image: url(https://boomerang-boardshop.ua/wp-content/uploads/2018/12/snowboard_header.jpg);
  text-align: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 22px;

}

.rating_block {
  width: 125px;
  height: 25px;
}



#enscart_my_wrapper {
  text-align: center;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1140;
}

#enscart_myimage_wrapper {
  background: #ffffff;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  box-shadow: 0 0 20px 0 rgba(0,0,0,.4);
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  z-index: 1140;
}
#enscart_my_wrapper img {
  height: 80%;
  width: auto;
  padding-top: 8px;
}
#enscart_my_counter_wrapper {
  cursor: pointer;
  min-width: 30px;
  height: 30px;
  background-color: #d62240;
  color: #fff;
  border-radius: 30px;
  position: absolute;
  right: -5px;
  top: -5px;
  text-align: center;
  line-height: 30px;
  font-family: Arial,sans-serif;
  margin: 0px 3px;
  z-index: 1150;
}
#easynetshop-cart {
  border: none;
  background-color: transparent;
}

.parallelogram {
  text-align: right;
  padding: 5px 10px 0 0;
  cursor: pointer;
}
.emails-sidebar__item {
  color: #94cae0;
  list-style-type: none;
  font-size: 20px;
}
.emails-sidebar__item a {
  color: #ffffff;
  text-decoration: none;

  &__item--active a {
    text-decoration: #0000fe;
  }
}
.emails-sidebar__ul{
  display: grid;
  grid-template-columns: 1fr  1fr 1fr;
  text-align: center;

}