.header-menu {
  padding: 0 25px;
  margin-top: 23px;
  &__btn {
    background-color: black;
    width: 44px;
    height: 36px;
    float: right;
    border: 0;
    outline: none;
  }
  &__hamburger {
    background-color: transparent;
    width: 17px;
    height: 2px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    justify-content: center;
    margin: 6px 0;
  }
  &__hamburger::before {
    content: "";
    display: block;
    width: 17px;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    transform: rotate(45deg);
    top: 0;

  }
  &__hamburger::after {
    content: "";
    display: block;
    width: 17px;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    transform: rotate(-45deg);
    top: 0;
  }


  .header-menu__hamburger-active {
    width: 17px;
    height: 2px;
    background-color: #ffffff;
    position: relative;
    display: inline-block;
    cursor: pointer;
    justify-content: center;
    margin: 6px 0;
  }

  .header-menu__hamburger-active::before {
    top: -4px;
    transform: rotate(0deg);
  }

  .header-menu__hamburger-active::after {
    top: 4px;
    transform: rotate(0deg);
  }

}

@media (min-width: 768px) {
  .header-menu__btn {
    display: none;
  }
}

