.instragram-post {
  padding: 0 25px 0 25px;
  &__h {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 22px;
    font-style: normal;
    text-transform: uppercase;
    color: #4E4E4E;
    margin-top: 70px;
    margin-bottom: 13px;
  }
  &__h-block {
    font-family: Roboto, sans-serif;
    display: none;
  }
}
.instragram-post-img__post1 {
  width: 100%;
  margin-bottom: 42px;
  object-fit: cover;
}
.instragram-post-img__post2 {
  width: 248px;
  margin-bottom: 42px;
  display: none;
  object-fit: cover;
}
.instragram-post-img__post3 {
  width: 248px;
  margin-bottom: 42px;
  display: none;
  object-fit: cover;
}
.instragram-post-img__post4 {
  width: 248px;
  margin-bottom: 42px;
  display: none;
  object-fit: cover;
}
@media (min-width: 480px) {
  .instragram-post-img {
    display: flex;
    justify-content: space-between;
  }
  .instragram-post-img__post1 {
    width: 223px;
    margin-bottom: 42px;
    object-fit: cover;
    flex-grow: 1;
    padding: 5px;
  }
  .instragram-post-img__post2 {
    width: 223px;
    margin-bottom: 42px;
    display: block;
    object-fit: cover;
    flex-grow: 1;
    padding: 5px;
  }
}

@media (min-width: 768px) {
  .instragram-post {
    margin-top: 49px;
    padding: 0 55px;
    background-color: rgba(163, 163, 163, 0.07);
  }
  .instragram-post__h {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 35px;
    margin-top: 47px;
  }
  .instragram-post__div {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .instragram-post__h-block {
    display: block;
    margin-bottom: 35px;
    font-size: 13px;
    line-height: 22px;
    color: #4E4E4E;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 47px;
  }
  .instragram-post-img {
    display: flex;
    justify-content: center;
  }
  .instragram-post-img__post1 {
    width: 223px;
    margin-bottom: 42px;
    padding: 5px;
    flex-grow: 1;
  }
  .instragram-post-img__post2 {
    width: 223px;
    margin-bottom: 42px;
    display: block;
    padding: 5px;
    flex-grow: 1;
  }
  .instragram-post-img__post3 {
    width: 223px;
    margin-bottom: 42px;
    display: block;
    padding: 5px;
    flex-grow: 1;
  }
  .instragram-post-img__post4 {
    width: 248px;
    margin-bottom: 42px;
    display: none;
  }
  .footer-section {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .instragram-post {
    margin-top: 49px;
    padding: 0 110px;
    background-color: rgba(163, 163, 163, 0.07);
  }
  .instragram-post-img__post1 {
    width: 248px;
    margin-bottom: 42px;
    padding: 5px;
  }
  .instragram-post-img__post2 {
    width: 248px;
  }
  .instragram-post-img__post3 {
    width: 248px;
  }
  .instragram-post-img__post4 {
    width: 248px;
    margin-bottom: 42px;
    display: block;
    padding: 5px;
    object-fit: cover;
    flex-grow: 1;
  }

}