
@import "hamburger";
@import "header";
@import "posts";
@import "instragram";
@import "footer";



*, *:after, *:before {
  box-sizing: border-box;
}


.header-block__img {
  width: 100%;
  margin-top: 23px;
  padding: 0 25px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .header-block__img {
    width: 100%;
    margin-top: 43px;
    padding: 0 55px;
  }
}

@media (min-width: 1200px) {
  .header-block__img {
    width: 100%;
    margin-top: 51px;
    padding: 0 110px;
  }
}
$black: #000000;
$wait:#ffffff;


